section{
    background-color: #eee;
}
#card-principale{
    width: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #499b4a;
    border: 0px; /* ENLEVER LA BORDURE */
}
#card-principale-text{
    margin-top: 5%;
    text-align: center;/* CENTRER LE TEXTE */
    color: black;
}
#admin-resume{
    display: flex;
    justify-content: center;
}
.voir-plus{
    position: relative;
    top: -45px;
    left: 85%;
}

/* ACCORDEON */
.col{
    width: 70%;
    margin: 0 auto;
}
.accordion-button{
    font-size: 1.5rem;
    color: #499b4a;
}
.accordion-button:focus{
    background: linear-gradient(90deg, rgba(73,155,74,0.6320903361344538) 0%, rgba(73,155,74,0.5144432773109244) 100%, rgba(0,212,255,1) 100%);
    color: white;
}
.accordion-button:not(.collapsed){
    background: linear-gradient(90deg, rgba(73,155,74,0.6320903361344538) 0%, rgba(73,155,74,0.5144432773109244) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

/* FORMULAIRE */
table{
    width: 100%;
}
table td{
    width: 50%;
}
textarea{
    height: 80px;
    margin-top: 8px;
    padding: 15px 20px;
    border: 1px solid #499b4a;
    border-radius: 8px;
}
#input{
    width: 95%;
    padding: 10px 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.cta-btn {
    background-color: #499b4a;
    color: white;
    padding: 18px 20px;
    margin-top: 2%;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

/* TABLE NEW USER */
#table-new-user{
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
}

.table-hr{
    border-bottom: 1px gainsboro solid;
}

/* TABLE ORDER */
#table-order{
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
}

#table-order td{
    width: 40%;
}

@media (max-width: 1169px) {
    #card-principale{
        margin-top: 5%;
    }
    .voir-plus{
        left: 80%;
    }

}
